{{>logged-in-menu}}


<form action="/dashboard/addplacemark" method="POST">
    <div class="field">
        <label class="label">Placemark Title</label>
        <input class="input" type="text" placeholder="Enter Placemark title" name="name">
        <label class="label">Placemark longitude</label>
        <input class="input" type="number" placeholder="Enter Placemark longitude" name="longitude" step="0.000001">
        <label class="label">Placemark latitude</label>
        <input class="input" type="number" placeholder="Enter Placemark latitude" name="latitude" step="0.000001">
        <label class="label">Placemark description</label>
        <input class="input" type="text" placeholder="Enter Placemark description" name="description">
        <label class="label">Placemark category</label>
        <div class="select">
            <select class="input" name="category">
                <option>Food</option>
                <option>Entertainment</option>
                <option>Accommodation</option>
                <option>Transportation</option>
                <option>City</option>
                <option>Education</option>
                <option>Medical</option>
                <option>Sport</option>
                <option>Shopping</option>
                <option>Landscape-Feature</option>
                <option>River</option>
                <option>Waters</option>
                <option>Bridge</option>
                <option>Forest</option>
                <option>Parks</option>
                <option>Historic-sites</option>
                <option>Gas-station</option>
                <option>Company</option>
                <option>Other</option>
            </select>
        </div>
    </div>
    <button class="button is-link">Add Placemark</button>
</form>


{{#if errors}}
    <div class="box content">
        <p> There was a problem... </p>
        <ul>
            {{#each errors}}
                <li>{{message}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}

{{#each placemark}}
    <div class="box box-link-hover-shadow">
        <h2 class="title">
            {{name}}
        </h2>
        <a href="/placemark/{{_id}}" class="button">
      <span class="icon is-small">
        <i class="fas fa-folder-open"></i>
      </span>
        </a>
        <a href="/dashboard/deleteplacemark/{{_id}}" class="button">
            <i class="fas fa-trash"></i>
        </a>
    </div>
{{/each}}
