<nav class="navbar">
    <div class="navbar-brand">
    </div>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false"> <span aria-hidden="true"></span>
        <span aria-hidden="true"></span> <span aria-hidden="true"></span> </a>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a id="dashboard" class="button" href="/dashboard"> Dashboard </a> <a id="admin panel" class="button" href="/admin"> Admin panel </a> <a
                        id="logout" class="button" href="/logout"> Logout </a>
                </div>
            </div>
        </div>
    </div>
</nav>
